.friends-requests-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons11.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -117px;
  filter: invert(10%);
}

.friends-suggestions-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons11.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -75px;
  filter: invert(10%);
}

.all-friends-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons11.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -96px;
  filter: invert(10%);
}

.birthdays-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons11.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -138px;
  filter: invert(10%);
}

.m-post-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons12.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -132px;
}

.m-story-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons13.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -387px;
}

.m-room-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -542px;
}

.m-page-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -521px;
}

.m-ad-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1004px;
}

.m-group-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -479px;
}

.m-event-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -647px;
}

.m-post-mar {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons13.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -366px;
}

.m-post-job {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons14.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -626px;
}

.report-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons15.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -25px;
}

.settings-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons16.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -21px -228px;
}

.help-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons17.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -487px;
}

.dark-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons17.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -340px;
}

.logout-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons15.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -46px;
}

.right-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../../public/icons/icons18.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -83px -13px;
  filter: invert(50%);
}

.privacy-checkup-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons15.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -67px;
}

.privacy-shortcuts-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons19.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -495px;
}

.activity-log-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons20.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -250px;
}

.news-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons21.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -239px;
}

.language-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons22.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -658px;
}

.arrow-back-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons18.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -46px;
}

.help-center-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons17.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -487px;
}

.email-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons22.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -532px;
}

.info-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons23.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -355px;
}

.keyboard-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons24.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -242px;
}

.amm-s-ic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons12.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -34px -174px;
  filter: invert(40%);
}

.ad-choices-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../../../public/icons/icons6.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -126px;
  filter: invert(40%);
  transform: translateY(1px);
}

.pin-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -378px;
}

.save-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -63px;
}

.embed-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -126px;
}

.copy-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -568px;
}

.edit-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -610px;
  filter: invert(40%);
}

.turn-off-notify-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons3.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -138px;
}

.delete-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -399px;
}

.date-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons4.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -67px;
}

.refresh-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/refresh.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.archive-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons1.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -84px;
}

.trash-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons2.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -799px;
}

.like-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -243px;
  filter: invert(40%);
}

.comment-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -205px;
  filter: invert(40%);
}

.share-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -262px;
  filter: invert(40%);
}

.emoji-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -434px;
  filter: invert(40%);
}

.camera-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -366px;
  filter: invert(40%);
}

.gif-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -451px;
  filter: invert(40%);
}

.sticker-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons5.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -468px;
  filter: invert(40%);
}

.exit-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons6.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -126px -71px;
  filter: invert(40%);
}

.edit-small-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons18.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -34px -109px;
}

.arrow-down-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../../../public/icons/icons6.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -117px -130px;
}

.emoji-icon-large {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('../../../public/icons/icons7.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -207px;
  filter: invert(40%);
}

.tag-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../../public/icons/icons7.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -257px;
}

.maps-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../../public/icons/icons8.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -225px;
}

.microphone-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../../public/icons/icons9.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -100px;
}

.add-photo-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons7.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -292px;
}

.phone-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons7.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -271px;
  filter: invert(20%);
}

.camera-filled-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons25.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -444px;
}

.photo-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons35.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -63px;
  filter: invert(10%);
}

.upload-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons35.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -126px;
  filter: invert(10%);
}

.life-event-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons34.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -250px;
}

.plus-small-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons22.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1341px;
}

.frame-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons31.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -130px;
}

.minus-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons33.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -50px;
}

.plus-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons32.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -25px;
}

.crop-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons31.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -113px;
}

.temp-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons31.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -96px;
}

.unfriend-outlined-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons30.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -105px;
}

.turn-on-notify-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons29.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -324px;
}

.download-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons28.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -42px;
}

.fullscreen-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../../public/icons/icons28.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -210px;
}

.rounded-plus-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../../../public/icons/icons27.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  filter:
    invert(39%) sepia(57%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
    hue-rotate(202deg) brightness(97%) contrast(96%);
}

.equalize-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons26.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -63px;
}

.manage-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons26.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -165px;
}

.list-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons26.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -131px;
}

.grid-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons26.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -80px;
  filter: invert(30%);
}

.info-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('../../../public/icons/icons36.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -60px;
}

.add-choices-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../public/icons/icons37.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -60px;
}
