* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgb(0 0 0 / 20%);
  --shadow-2: rgb(0 0 0 / 10%);
  --shadow-3: rgb(0 0 0 / 30%);
  --shadow-inset: rgb(255 255 255 / 50%);
}
